.icon-button {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    cursor: pointer;
    padding: 6px;
  }
.icon-button span {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}
.icon-button:hover span {
    background-color: #555;
}
